html {
  font-family: Helvetica, Aria, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: #333;
}


.project-editor {
  position: relative;
  .file-tree {
    float: left;
    width: 120px;
  }
  .editors {
    margin-left: 130px;
  }
}
