<div class="code-editor-breadcrumb">
  <ol class="code-editor-breadcrumb__path">
    {{#each @file.path as |pathElem|}}
      <li class="code-editor-breadcrumb__path-element">
        {{pathElem}}
      </li>
    {{/each}}
  </ol>
</div>