<footer>
  <div class="pull-left">
  {{#each @leftIndicators.list as |indicator|}}
    <span class="indicator">
      {{#each indicator.elements as |elem|}}
        <span class="indicator__element" style='{{indicator-element-style elem}}'>
          {{elem.text}}
        </span>
      {{/each}}
    </span>
  {{/each}}
  </div>
  <div class="pull-right">
  {{#each @rightIndicators.list as |indicator|}}
    <span class="indicator">
      {{#each indicator.elements as |elem|}}
        <span class="indicator__element" style='{{indicator-element-style elem}}'>
          {{elem.text}}
        </span>
      {{/each}}
    </span>
  {{/each}}
  </div>
</footer>