<li class='file-tree__folder'>
  <label for="subfolder-{{@path}}"><span class="name">{{@model.name}}</span></label>
  <input type="checkbox" id="subfolder-{{@path}}" />
  {{project-editor/file-tree/folder-children model=@model path=(concat @path '/' @model.name) acts=@acts}}
</li>