{{outlet}}

<button onClick={{route-action 'createProject'}}>Create a new project</button>

<ul>
  {{#each model as |project|}}
  <li>
    {{#link-to 'project' project.id}}
      {{project.attributes.name}}
    {{/link-to}}
  </li>
  {{/each}}
</ul>